<form  #addExpenseForm="ngForm" (ngSubmit)="addExpenseForm.valid && saveExpense(addExpenseForm.value)">
    <fieldset>
        <legend>Add expenses</legend>
        <div class="row"> 
            <div class="form-group col-md-6 col-sm-12">
                <label>Friend: </label>
                <select class="form-control" [(ngModel)]="friendId" name="friendId" id="add-expense-friendId" required>
                    <option [value]="friend.id" *ngFor="let friend of friendsList">{{friend.name}}</option>
                </select>
                <em *ngIf="addExpenseForm.submitted && addExpenseForm.controls.friendId?.invalid">Required</em>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label>Amount (&pound;): </label>
                <input class="form-control" (ngModel)="amount" name="amount"  id="amount" type="number" required/>
                <em *ngIf="addExpenseForm.submitted && addExpenseForm.controls.amount?.invalid">Required</em>
            </div>
        </div>
        <button id="add-expense" type="submit" class="btn btn-primary" [disabled]="addExpenseForm.invalid">Add expense</button>
    </fieldset>
</form>
